.u-section-1 {
  background-image: none;
  min-height: 735px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 722px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 515px;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 269px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 58px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 90px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -18px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 21px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 506px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/11f30e8f7b652cd418f06aa239cf5e5cce0122b391d048adfeb047ef36e9236f36ec345eee11f0be63a9121fb258555048a404a6562a05c1b69662_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 570px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -64px;
    margin-left: 113px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -62px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    min-height: 417px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 548px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 458px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -26px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 864px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 458px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 703px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 258px);
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 274px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-text-1 {
  width: 550px;
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-2 .u-input-1 {
  text-transform: uppercase;
}

.u-section-2 .u-input-2 {
  text-transform: uppercase;
}

.u-section-2 .u-input-3 {
  text-transform: uppercase;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}